{% extends "layouts/tool.html" %}

{% block form_title %}RDF Enhancer <small>different form elements</small>{% endblock %}

{% block form_options %}
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a></li>
                  <li><a href="#">Settings 2</a></li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
{% endblock %}

{% block form_buttons %}
                  <button type="submit" class="btn btn-success">Analyze</button>
{% endblock %}

{% block form_result %}
        <div class="col-md-12">
            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel">
                <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4 class="panel-title">
<div class="phoca-flagbox" style="width:30px;height:30px">
    <span class="phoca-flag-example phoca-{{ results|attribute:'language' }}"></span>
</div>
                    &nbsp;Detected language : {{ results.language }}
                  </h4>
                </a>
                <div id="collapseOne" class="panel-collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
{% for entity,roles in results.topics %}
<div class="col-md-4">
    <div class="input-group" style="{{ entity|nlp_style:roles }}">
      <input value="{{ entity }}" placeholder="Entity's literal" aria-describedby="basic-addon2" read-only type="text" class="form-control" style="font-size: larger;">
      <span class="input-group-addon">{{ roles|join:', ' }}</span>
    </div>
</div>
{% endfor %}
                    <hr />
{% for entity,roles,resource in results.resources %}
<div class="col-md-3">
    <div class="input-group" style="{{ entity|nlp_style:roles }}">
      <input value="{{ entity }}" placeholder="Entity's literal" aria-describedby="basic-addon2" read-only type="text" class="form-control" style="font-size: larger;">
      <span class="input-group-addon">{{ roles|join:', ' }}</span>
    </div>
</div>
{% endfor %}
                  </div>
                </div>
              </div>
{% for entry in results.matches %}
              <div class="panel">
                <a class="panel-heading" role="tab" id="heading-{{ forloop.counter }}" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}">
                  <h4 class="panel-title">Grammar : {{ entry.alias }}</h4>
                </a>
                <div id="collapse-{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ forloop.counter }}">
                  <div class="panel-body">
{% autoescape off %}
                    <div class="well">{{ entry.grammar|pretty_query }}</div>
{% endautoescape %}
{% for entity,roles in entry.result %}
<div class="col-md-4">
    <div class="input-group" style="{{ entity|nlp_style:roles }}">
      <input value="{{ entity }}" placeholder="Entity's literal" aria-describedby="basic-addon2" read-only type="text" class="form-control" style="font-size: larger;">
      <span class="input-group-addon">{{ roles|join:', ' }}</span>
    </div>
</div>
{% endfor %}
                  </div>
                </div>
              </div>
{% endfor %}
        </div>
{% endblock %}

