{% extends "layouts/tool.html" %}

{% block form_title %}Understanding Natural Language <small>and answering questions, as well.</small>{% endblock %}

{% block form_options %}
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a></li>
                  <li><a href="#">Settings 2</a></li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
{% endblock %}

{% block form_buttons %}
                  <button type="submit" class="btn btn-success">Analyze</button>
{% endblock %}

{% block form_result %}
        <div class="col-md-12">
            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <h4 class="panel-title">Query</h4>
                </a>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
{% autoescape off %}
                    {{ results.query|pretty_query }}
{% endautoescape %}
                  </div>
                </div>
              </div>
              <div class="panel">
                <a class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <h4 class="panel-title">i18n results</h4>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                      <ul class="nav nav-tabs">
{% for row in results.rows %}
                        <li>
    <a href="#result-{{ row.x1|attribute:'xml:lang' }}" data-toggle="tab" style="padding: 5px !important;">
        <div class="phoca-flagbox" style="width:30px;height:30px">
            <span class="phoca-flag-example phoca-{{ row.x1|attribute:'xml:lang' }}"></span>
        </div>
    </a>
                        </li>
{% endfor %}
                      </ul>
                      <div class="tab-content">
{% for row in results.rows %}
    <div class="tab-pane" id="result-{{ row.x1|attribute:'xml:lang' }}">{{ row.x1.value }}</div>
{% endfor %}
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
{% endblock %}

