<li><a href="{% url 'homepage' subdomain='linguist' %}">Homepage</a></li>
<li><a href="{% url 'tokenize' subdomain='linguist' %}">Natural language Tokenizer</a></li>
<li><a href="{% url 'enrich' subdomain='linguist' %}">RDF Enhancer</a></li>
<li><a href="{% url 'understand' subdomain='linguist' %}">Natural langauge -&gt; RDF</a></li>
<li><a href="{% url 'interpret' subdomain='linguist' %}">Natural langauge -&gt; SPARQL</a></li>
<li><a href="{% url 'express' subdomain='linguist' %}">RDF -&gt; Natural langauge</a></li>

